@page "/Clients"
@inherits ClientsPageBase

<PageTitle>Clients</PageTitle>

<h1>Clients</h1>

@if ((_MultipleViewModel.ModelArray == null) || (!_MultipleViewModel.ModelArray.Any()))
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>        
        <th>Name</th>        
        <th>Physical Address</th>        
        <th>Company Registration Number</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var model in _MultipleViewModel.ModelArray)
      {
        <tr>    
          <td>@model.Name</td>    
          <td>@model.Physical_Address</td>    
          <td>@model.Company_Registration_Number</td>
        </tr>
      }
    </tbody>
  </table>
}
