using Microsoft.AspNetCore.Mvc;
using System.Text.Json;
using crmit.core.Models;

namespace crmit.webapi.Controllers;
  
public partial class {{ModelCode}}Controller
{
  #region Properties

  #endregion Properties

  #region Methods

  #endregion Methods
}
