using System;
using System.Threading.Tasks;
using Newtonsoft.Json;
using aa.cs.core.net;
using aa.cs.shared.net.Attributes;
using aa.cs.core.net.Types;
using aa.cs.core.net.Interfaces;

namespace aa.cs.core.net.Models
{
  public partial class {{Code}}
  {
    #region Properties

    #endregion Properties

    #region Methods

    #endregion Methods
  }
}
