using Microsoft.AspNetCore.Mvc;
using System.Text.Json;
using weatherit.core.Models;

namespace weatherit.webapi.Controllers;

public partial class {{ModelCode}}Controller
{
  #region Properties

  #endregion Properties

  #region Methods

  #endregion Methods
}
